<!DOCTYPE html>
<html>

<head>
    <title>Breakfast</title>
</head>

<body>
    <table border="8" style="background-image: url('/src/assets/Utilies/images/hero-slider-1.jpg');">
        <tr>
            <th colspan="4">
                <h1><span style="background-color: white;" class="blink">Breakfast Menu</span></h1>
            </th>
        </tr>
        <tr>
            <td align="center"><span style="background-color: whitesmoke;"><b>Samosa</span></td>
            <td align="center"><span style="background-color: white;"><strong>Poha Vada</strong></span></td>
            <td align="center"><span style="background-color: white;"><strong>Pav Bhaji</strong></span></td>
            <td align="center"><span style="background-color: white;">Aloo Paratha</span></td>
        </tr>
        <tr>
            <td>
                <CENTER><img src="../src/assets/Utilies/images/samosa.jpg" width="310" height="410px">
                </CENTER>
            </td>
            <td>
                <center><img src="../src/assets/Utilies/images/poha_vada.jpg" width="310" height="420px">
            </td>
            </center>
            <td>
                <center><img src="../src/assets/Utilies/images/DSC_2372.webp" width="310" height="410px">
            </td>
            </center>
            <td>
                <CENTER><img src="../src/assets/Utilies/images/Aloo-Paratha.jpg" width="310" height="410px">
                </CENTER>
            </td>
        </tr>
        <tr>
            <td align="center"><span style="background-color: white;"><b>₹ 30</b></span></td>
            <td align="center"><span style="background-color:  white;"><b>₹ 35</b></span></td>
            <td align="center"><span style="background-color: white;"><b>₹ 80</b></span></td>
            <td align="center"><span style="background-color: white;"><b>₹ 50</b></span></td>
        </tr>

    </table>
</body>

</html>