body {
    background-image: url("/src/assets/Utilies/images//hero-slider-1.jpg");
}

th,
td {
    border: 2px solid black;
    border-collapse: collapse;
}
.blink {
    animation: blinker 1.5s linear infinite;
    color: black;
    font-family: sans-serif;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}